.c-news {
    padding: 2em;
}

.c-news-card {
    padding: 2em;
    margin-top: 1em;
}

.c-news-moreHeadlines {
    margin-top: 2em;
}

.c-news-seemore-button {
display: block;
margin: 0 auto;
top: 5em;

}

.c-news-card-modal-hide {
    display: none;
}

.card {
    box-shadow: 0 14px 43px rgba(180, 180, 180, 0.507);
}

.card-text-sm {
    color: rgb(82, 82, 241);
    text-decoration: underline;
    cursor: pointer;
}

h1 {
    padding-bottom: 0.75em;
    font-weight: bold;
}

.error-text {
    text-align: center;
    color: #F46363;
}

.error-text-svg {
    display: flex;
    justify-content: center;
    margin-top: 3.5em;
}

.navbar-brand {
    cursor: pointer;
}